

.background-logo {
  position: fixed;
  background-image: url('../assets/kubelens-wheel-blue.png');
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 0.05;
  width: 100%;
  height: 100%;
  margin-left: 10%;
  margin-top: -5%;
}
