version: 2
jobs:
  api_build:
    docker: 
      - image: circleci/golang:latest
    environment:
      VERSION: "1.0"
      GOBIN: /go/bin
    working_directory: /go/src/github.com/kubelens/kubelens
    steps:
      - checkout
      - setup_remote_docker:
          docker_layer_caching: true
      - run: 
          name: Check API Changes
          command: |
            git diff --name-only --exit-code HEAD~1..HEAD  ./api && \
            echo 'export API_CHANGED=false' >> $BASH_ENV || \
            echo 'export API_CHANGED=true' >> $BASH_ENV
            source $BASH_ENV
      - run:
          name: Run Test & Coverage
          command: |
            if ${API_CHANGED}; then
              cd ./api 
              make test
            fi
      - run:
          name: Build & Push Docker image
          command: |
            if ${API_CHANGED}; then
              cd ./api
              GIT_BRANCH=${CIRCLE_BRANCH} \
              TAG="${VERSION}.${CIRCLE_BUILD_NUM}" \
              DOCKER_ID=${DOCKER_ID} \
              DOCKER_USER=${DOCKER_USER} \
              make docker-build-push
            fi

  web_build:
    docker: 
      - image: circleci/node:latest
    environment:
      VERSION: "1.0"
    steps:
      - checkout
      - setup_remote_docker:
          docker_layer_caching: true
      - run: 
          name: Check Web Changes
          command: |
            git diff --name-only --exit-code HEAD~1..HEAD  ./web && \
            echo 'export WEB_CHANGED=false' >> $BASH_ENV || \
            echo 'export WEB_CHANGED=true' >> $BASH_ENV
            source $BASH_ENV
      - run:
          name: Get Dependencies
          command: | 
            cd ./web
            npm install
      - run:
          name: Application Build
          command: |
            cd ./web
            npm run build
      - run:
          name: Run Test & Coverage
          command: |
            if ${WEB_CHANGED}; then
              cd ./web 
              echo "TODO run tests"
              # npm run test
            fi
      - run:
          name: Docker Build Push
          command: |
            if ${WEB_CHANGED}; then
              cd ./web
              GIT_BRANCH=${CIRCLE_BRANCH} \
              TAG="${VERSION}.${CIRCLE_BUILD_NUM}" \
              DOCKER_ID=${DOCKER_ID} \
              DOCKER_USER=${DOCKER_USER} \
              npm run docker-build-push
            fi

workflows:
  version: 2
  test_build_deploy:
    jobs:
      - api_build:
          filters:
            branches:
              only: 
                - staging
                - master
      - web_build:
          filters:
            branches:
              only: 
                - staging
                - master
