{{- if .Values.ingress.enabled }}
apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: {{ .Values.ingress.name }}
  namespace: {{ .Values.namespace }}
  labels:
    app: {{ .Release.Name }}
  annotations:
    kubernetes.io/ingress.class: nginx
    nginx.ingress.kubernetes.io/ssl-redirect: "false"
    nginx.ingress.kubernetes.io/configuration-snippet: |
      rewrite "(?i)/(.*)" /$1 break;
spec:
  rules:
  - host: {{ .Values.ingress.host }}
    http:
      paths:
      - backend:
          serviceName: kubelens-web
          servicePort: 80
        path: /
  - host: kubelens.chrobinson.com
    http:
      paths:
      - backend:
          serviceName: kubelens-web
          servicePort: 80
        path: /
  - host: kubelens.wip.chrobinson.com
    http:
      paths:
      - backend:
          serviceName: kubelens-web
          servicePort: 80
        path: /
{{- end }}