.pod-container {
  margin-left: 25px;
}

.pod-jumbotorn {
  padding: 10px 20px 0px 20px;
  background-color: #F2F8FF;
}

.btn-right div {
  float: right;
  width: 100%;
}

.kind-detail-contianer {
  border: 1px solid #3e3e3e;
  color: #3e3e3e;
  background: white;
}

.kind-detail-title {
  background-color: #3498DB;
  color: white;
  font-weight: bold;
}

.kind-detail-footer {
  background-color: transparent;
}

.kind-detail-footer,
.kind-detail-body  {
  color: #253365;
}

.kind-detail-left-icon {
  opacity: 0.4; 
  left: 0; 
  margin-left: 5px; 
  position: absolute;
}

.toggle-container-name-dropdown {
  float: right;
}

.toggle-container-name {
  background-color: #3498DB;
  color: white;
  margin-right: 15px;
  margin-top: 15px;
  padding: 8px;
  border-radius: 5px;
}

.toglge-container-name-menu {
  text-align: left;
  background-color: white;
  color: #4B4F52;
  border-color: #4B4F52;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
